@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playwrite+HU:wght@100..400&display=swap');
 body{
    font-size: 2rem;
    font-family: "Roboto","sans-serif";
 }

 .block{
   width: 50vw;
   height: 30vw;
   background: url('https://images.pexels.com/photos/28245751/pexels-photo-28245751.jpeg');
     background-size: cover; 
     /* background-position: center ; */
    background-repeat: no-repeat;
     color: white;
   padding: 1rem;
 }

 .left{
   float: left;
   margin-right: 1rem;
 }

  .right{
   float: right;
   margin-right: 1rem;
 }

 .claer{
   clear: both;
 }
section{
   background-color: bisque;
   bottom: 1px solid #333;
   padding: 1rem;
   overflow: auto;
}